<div class="card" style="width: 33.333%;">
      <img class="card-img-top" src="../images/botox.png" alt="">
      <div class="card-body">
        <h5 class="card-title">Procedures</h5>
        <p class="card-text">Botox Injections</p>

      {{!-- <img class="card-img-top" src="{{this.photo}}" alt="Card image"> --}}
      {{!-- <div class="card-body">
        <h5 class="card-title">{{this.name}} {{this.provider}}</h5> --}}
        {{!-- <p class="card-text">Botox Injections</p> --}}
      </div>
</div>

<div class="card" style="width: 33.333%;">
      <img class="card-img-top" src="../images/facials-1.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Procedures</h5>
        <p class="card-text">Facials</p>
</div>