<header class="jumbotron">
    <h1>Add new procedures</h1>
    <a class="btn btn-primary btn-large" href="/services">Back</a>
</header>

<form action-"/services" method="POST">
    <input type= "text" name="name" placeholder= "name">
    <input type= "text" name="provider" placeholder= "provider">
    <input type= "text" name="photo" placeholder= "photo url">
        <button>Submit</button>
</form>
