{{!-- ---author-add.hbs--- --}}

<div class="cards-container">
    <form action="/provider/add" method="post">
      <label for="">First Name:</label>
      <input type="text" name="firstName">

      <label for="">Last Name:</label>
      <input type="text" name="lastName">

      <label for="">Education:</label>
      <input type="text" name="education">
  <div>
      <label for="">Experience:</label>
      <input type="text" name="experience">

      <label for="">Picture</label>
      <input type="pictureurl" name="pictureUrl">
  </div>

      <button>Submit</button>
    </form>
</div>
<br>
<div>

</div>