

<div>

</div>
<br>
<div>

</div>
<button class="edit-button"><a href="/services">Back</a></button>
<hr>

{{!-- 
<form action="/reviews/add?services_id={{services._id}}" method="post">
  <label for="">User:</label>
  <input type="text" name="user">

  <label for="">Comments:</label>
  <textarea type="text" name="comments"></textarea> --}}

  
<div class="cards-container">

    <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/Jules-indigo.JPG">
        <div class="card-body">
            <h4 class="card-title">Juliet Urbina MD</h4>
            <p class="card-text">General Surgeon.</p>
            {{!-- <a href="/services" class="btn btn-primary">Procedures</a> --}}
        </div>
    </div>
  

    <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/heidi.jpeg">
        <div class="card-body">
            <h4 class="card-title">Heidi Scheuler ARNP</h4>
            <p class="card-text">Cosmetic RN</p>
            {{!-- <a href="/services" class="btn btn-primary">Procedures</a> --}}
        </div>
    </div>


     <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../images/Jules-silver.jpeg">
        <div class="card-body">
            <h4 class="card-title">Doctor Doctor MD</h4>
            <p class="card-text">Cosmetic Dermatology</p>
            {{!-- <a href="/services" class="btn btn-primary">Procedures</a> --}}
        </div>
    </div>

</div>  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  {{!-- <button type="submit">ADD</button>
</form>

<h2>Reviews</h2>
{{#each services.reviews}}
<div class="review-item">
  <p>{{this.comments}}</p>
  <span>{{this.user}}</span>
</div>
{{/each}} --}}