<header class="jumbotron">
    <h1>Add new procedures</h1>
    <a class="btn btn-primary btn-large" href="/services">Back</a>
</header>


    <div>
        <form action-"/services" method="POST">
            <label for="">Procedure:</label>
            <input type= "text" name="name" placeholder= "name">
            <label for="">Provider:</label>
            <input type= "text" name="provider" placeholder= "provider">
            <label for="">Image:</label>
            <input type= "text" name="photo" placeholder= "photo url">
                <button>Submit</button>
        </form>
    </div>
