<header class="jumbotron">
    <h1>Add new procedures</h1>
    <a class="btn btn-primary btn-large" href="/services">Back</a>
</header>

<form action-"/services" method="POST">
    <input type= "text" name="name" placeholder= "name">
    <input type= "text" name="provider" placeholder= "provider">
    <input type= "text" name="photo" placeholder= "photo url">
        <button>Submit</button>
</form>

<form action="/books/add" method="post">
  <label for="">Procedure:</label>
  <input type="text" name="title">

  <label for="">Provider:</label>
  <input type="text" name="author">

  <label for="">Description:</label>
  <input type="text" name="description">

  <label for="">Rate:</label>
  <input type="number" name="rating">

  <button type="submit">ADD</button>
</form>
