
  <br>

  <body>
    <div> 
      <header class="jumbotron">
        <h1>Cosmetic Procedures</h1>
        <a class="btn btn-primary btn-large" href="/provider-info">Provider Information</a>
      </header> 
    </div>



             
      <div class="cards-container">
        <div class="card" style="width: 10rem;">
              {{#each services}}
                  {{!-- <div class="my-Picture"> --}}
                    
                  </div>
                    <h5 class="card-title"><a href="service/{{this._id}}">{{this.name}}</a></h5>
                    <p class="card-text"><a href="service/{{this._id}}">{{this.provider}}</a></p>
                  </div>
               {{/each}}
            <hr>
               
    

