
  <br>

  <body>
    <div> 
      <header class="jumbotron">
        <h1>Cosmetic Procedures</h1>
        <a class="btn btn-primary btn-large" href="/provider-info">Provider Information</a>
      </header> 
    </div>


        {{!-- <div class="cards-container">
           <div class="row">
  <div class="col-sm-3"> --}}
    <div class="card">
              {{#each services}}
                    {{!-- <img class="card-img-top" src="../images/facials.jpg" alt "Botox" > --}}
                <div class="card-body">
                    <h5 class="card-title"><a href="service/{{this._id}}">{{this.name}}</a></h5>
                    <p class="card-text"><a href="service/{{this._id}}">{{this.provider}}</a></p>
                {{/each}}
            </div>
            </div>
        </div>

